body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #da4453, #89216b); 
}
.input{
    display: flex;
    flex-direction: column;
    margin:10px;

}
.input .width{
    margin-top: 10px;
}
.label{
    color: #fff;
}
.box{
    align-items: center;
    justify-content: center;
    
}
.border-box{
    background-color: #fff;
    width:0px;
    
    margin-top: 20px;
   

}
.slider {
    margin-top: 20px;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ffffff;;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
  span{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      font-size: 2rem;
      color: #fff;
  }